@charset "UTF-8";

/* 回答はここに書いてね */

.q3_table {
  table-layout: fixed;
  width: 100%;
  text-align: center;
}

.q3_table td,th {
  padding: 10px 0;
  border: solid 1px #dedede;
  line-height: 22px;
}


.q3_table thead th {
  background-color: #2244aa;
  color: white;
  font-size: 18px;
  line-height: 26px;
}

.q3_table thead th:last-child {
  border-right: none;
}


.q3_table tbody th {
  background-color: #2244aa;
  color: white;
  font-size: 18px;
  line-height: 26px;
}

.q3_table tbody tr td:first-child {
  background-color: #2244aa;
  color: white;
}

.q3_table tbody tr:last-child {
  border-top: dashed 2px #000;
}

.q3_table tr:nth-child(even) {
background: #ecf1f2;
}

/* 回答はここに書いてね */
